{% extends "users/cliente/base_cliente.html" %}

{% load staticfiles %}

{% block title %} Linea de tiempo de la guia {{object}} {% endblock title %}

{% block content %}

    {% include "include/header.html" %}

    <div class="pg-content">
        <div class="row">
          <div class="col s12">
            <div class="section section-title blue-grey-text text-darken-3">
              <h5>
                Guia N° {{object}}
                <a class="right" href="{% url 'cliente_app:cliente-index' %}">Regresar</a>
              </h5>

            </div>
            <div class="divider"></div>
          </div>
        </div>

        <div class="row">
          <section id="cd-timeline" class="cd-container">

            {% for h in historia %}
                <div class="cd-timeline-block">
                  {% if h.tipo == '0' %}
                    <div class="timeline-icon blue lighten-1 white-text">
                      <i class="fa fa-home circle"></i>
                    </div> <!-- cd-timeline-img -->

                    <div class="cd-timeline-content">
                      <h5>Recepcionado</h5>
                      <span class="cd-date">{{h.fecha}}</span>
                    </div>
                  {% endif %}
                  {% if  h.tipo == '1'%}
                          <div class="cd-timeline-block">
                              <div class="timeline-icon yellow lighten-1 white-text">
                                <i class="fa fa-truck circle"></i>
                              </div> <!-- cd-timeline-img -->

                              <div class="cd-timeline-content">
                                <h5>Asignado</h5>
                                <p>Vehiculo Asignado: {{h.objeto.asignation.car}}</p>
                                <p>Conductor Asignado: {{h.objeto.asignation.driver}}</p>
                                <span class="cd-date">{{h.fecha}}</span>
                              </div> <!-- cd-timeline-content -->
                          </div> <!-- cd-timeline-block -->
                  {% endif %}
                  {% if h.tipo == '2' %}
                              <div class="cd-timeline-block">
                                <div class="timeline-icon red lighten-1 white-text">
                                  <i class="fa fa-exclamation-triangle circle"></i>
                                </div>
                              <div class="cd-timeline-content">
                                <h5>Observación</h5>

                                    <div class="row valign-wrapper">
                                      <div class="col s2">
                                        {% if not h.objeto.image  %}
                                            <img src="{% static 'img/foto.jpg' %}" alt="" class="responsive-img"> <!-- notice the "circle" class -->
                                        {% else %}
                                            <img src="{{h.objeto.image.url}}" alt="" class="responsive-img">
                                        {% endif %}

                                      </div>
                                      <div class="col s10">
                                        <span>
                                          {{h.objeto.description}}
                                        </span>
                                      </div>
                                    </div>
                                <span class="cd-date">{{h.fecha}}</span>
                              </div> <!-- cd-timeline-content -->
                  {% endif %}
                </div>
            {% endfor %}
            {% if object.state == '4' %}
            <div class="cd-timeline-block">
                <div class="timeline-icon green lighten-1 white-text">
                  <i class="fa fa-check circle"></i>
                </div> <!-- cd-timeline-img -->

                <div class="cd-timeline-content">
                  <h5>Entregado</h5>
                  <p>Dni Receptor:{{object.person_id}}</p>
                  <p>Nombre Receptor:{{object.person_name}}</p>
                  <span class="cd-date">{{object.date_deliver}}</span>
                </div> <!-- cd-timeline-content -->
            </div> <!-- cd-timeline-block -->
            {% endif %}
          </section>
           <!-- cd-timeline -->
        </div>


    </div>

    {% include "include/footer.html" %}

{% endblock content %}
