{% extends "profiles/admin/admin.html" %}

{% load staticfiles %}

{% block title %} Zonas con Guias de Remision{% endblock title %}

{% block css %}
    {{ block.super }}
    <link href="{% static 'js/stackable/stacktable.css' %}" rel="stylesheet"/>
    <link href="{% static 'js/stackable/responsive-table.css' %}" rel="stylesheet"/>
{% endblock css %}

{% block migadepan %}
    <li>Zonas a Asignar</li>
{% endblock migadepan %}

{% block main %}
    <div class="row">
        <div class="small-12 medium-6 columns">
            <h3 class="subheader">Lista de Zonas por Asignar</h3>
        </div>
    </div>

    <div class="row">
        <div class="large-12 columns">
            <div class="box">
                <div class="box-header bg-transparent">
                    <!-- tools box -->
                    <div class="pull-right box-tools">
                        <span class="box-btn" data-widget="collapse"><i class="icon-minus"></i>
                        </span>
                        <span class="box-btn" data-widget="remove"><i class="icon-cross"></i>
                        </span>
                    </div>
                    <h3 class="box-title"><i class="icon-menu"></i>
                        <span>Zonas Por Asignar</span>
                    </h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body " style="display: block;">
                    {% for zona in  zone_list %}
                        <ul class="accordion" data-accordion>
                          <li class="accordion-navigation">
                            <a href="{% url 'asignacion_app:asignation-asignar_guide' asignacion.pk zona.pk %}">{{zona.name}}</a>
                            </li>
                        </ul>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock main %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'js/stackable/stacktable.js' %}"></script>
    <script>
    $(document).on('click', '#run', function(e) {
        e.preventDefault();
        $('#simple-example-table').stacktable({
            hideOriginal: true
        });
        $(this).replaceWith('<span>ran</span>');
    });
    $('#responsive-example-table').stacktable({
        myClass: 'stacktable small-only'
    });
    </script>
{% endblock js %}
