{% extends "profiles/admin/admin.html" %}

{% block title %} Guia de Remision Nueva {% endblock title %}

{% block migadepan %}
    <li>Guia</li>
    <li>Agregar</li>
{% endblock migadepan %}


{% block main %}
    <div class="row no-pad">
        <div class="large-12 columns">
            <div class="box bg-white">
                <div class="box-body pad-forty" style="display: block;">
                  {% if messages %}
                    <ul class="messages">
                      {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}><font color="Green">{{ message }}</font></li>
                      {% endfor %}
                    </ul>
                    {% endif %}
                    <div class="row">
                        <div class="large-12">
                            <h5 class="subheader no-margin text-center">Agregar Guia Para Manifiesto: {{manifiesto}} {{manifiesto.user}}</h5>
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="small-12 large-9 columns">
                          <form role="form" method="POST" enctype="multipart/form-data">{% csrf_token %}
                            {% if form.errors %}
                            <p class="help-text error-field">{{ form.non_field_errors }}</p>
                            {% endif %}
                                <div class="row">
                                    <div class="medium-12 columns">
                                        <label>Numero de Guia <small class="text-orange">Requerido</small>
                                            {{form.number}}
                                        </label>
                                        {% for error in form.number.errors %}
                                          <div class="col-xs-12">
                                            <p class="help-text error-field">
                                                {{ error|escape }}
                                            </p>
                                          </div>
                                         {% endfor %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="medium-12 columns">
                                        <label>Cantidad de Objetos <small class="text-orange">Requerido</small>
                                            {{form.number_objects}}
                                        </label>
                                        {% for error in form.number_objects.errors %}
                                          <div class="col-xs-12">
                                            <p class="help-text error-field">
                                                {{ error|escape }}
                                            </p>
                                          </div>
                                         {% endfor %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="medium-12 columns">
                                        <label>Remitente <small class="text-orange">Requerido</small>
                                            {{form.adreessee}}
                                        </label>
                                        {% for error in form.adreessee.errors %}
                                          <div class="col-xs-12">
                                            <p class="help-text error-field">
                                                {{ error|escape }}
                                            </p>
                                          </div>
                                         {% endfor %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="medium-12 columns">
                                        <label>Peso del Paquete <small class="text-orange">Requerido</small>
                                            {{form.weigth}}
                                        </label>
                                    </div>
                                    {% for error in form.weigth.errors %}
                                      <div class="col-xs-12">
                                        <p class="help-text error-field">
                                            {{ error|escape }}
                                        </p>
                                      </div>
                                     {% endfor %}
                                </div>
                                <div class="row">
                                    <div class="medium-12 columns">
                                        <label>Descripcion
                                            {{form.content}}
                                        </label>
                                        {% for error in form.content.errors %}
                                          <div class="col-xs-12">
                                            <p class="help-text error-field">
                                                {{ error|escape }}
                                            </p>
                                          </div>
                                         {% endfor %}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="medium-12 columns">
                                        <button type="submit" class="small radius bg-verde button">Guardar</button>
                                        <a href="{% url 'recepcion_app:manifest-list'%}" class="small radius bg-blanco border-grey button">Cancelar</a>
                                        <a href="{% url 'recepcion_app:manifest-detail' manifiesto.pk %}" class="small radius bg-blanco border-grey button">Lista de Guias</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}
