{% extends "profiles/admin/admin.html" %}

{% load staticfiles %}

{% block title %} Eliminar Guia de Remision {% endblock title %}

{% block migadepan %}
    <li>Guia Remision</li>
    <li>Guia: {{ guide.number }}</li>
{% endblock migadepan %}


{% block main %}
    <div class="row no-pad">
        <div class="large-12 columns">
            <div class="box bg-white">
                <div class="box-body pad-forty" style="display: block;">
                    <div class="row">
                        <div class="large-12">
                            <h5 class="subheader titulo-content">Eliminar Guia de Remision </h5>
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="small-12 large-12 columns">
                          <form role="form" action="{% url 'recepcion_app:guide-delete' guide.id %}" method="POST">{% csrf_token %}
                            <h6 class="subheader">¿Desea eliminar la Guia <strong>{{ guide.number }}</strong>?</h6>
                            <button type="submit" class="tiny radius bg-rojo button">Si</button>
                            <a href="{% url 'recepcion_app:manifest-detail' guide.id %}" class="tiny radius bg-blanco border-grey button">No</a>
                          </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}
