{% extends "profiles/admin/admin.html" %}

{% load staticfiles %}

{% block title %} conductor {% endblock title %}

{% block migadepan %}
    <li>Conductor</li>
    <li>{{object.full_name}}</li>
{% endblock migadepan %}


{% block main %}
    <div class="row no-pad">
        <div class="large-12 columns">
            <div class="box bg-white">
                <div class="box-body pad-forty" style="display: block;">
                    <div class="row">
                        <div class="large-12">
                            <h5 class="subheader no-margin text-center">Iformacion de Guia</h5>
                        </div>
                    </div>

                    <div class="row">
                        <div class="small-12 large-12 columns">

                            <div class="media-object stack-for-small">
                                <div class="media-object-section">
                                      <h5>Guia N° {{object}}</h5>
                                      <dl>
                                          <dt>Cantidad.</dt>
                                          <dd>{{object.number_objects}}</dd>
                                          <dt>Remitente.</dt>
                                          <dd>{{object.adreessee}}</dd>
                                          <dt>Peso</dt>
                                          <dd>{{object.weigth}}</dd>
                                          <dt>Descripcion</dt>
                                          <dd>{{object.content}}</dd>
                                          <dt>Zon de Reparto.</dt>
                                          <dd>{{object.zona}}</dd>
                                          <dt>Direccion de entrega.</dt>
                                          {{object.address}}
                                          <dt>Provincia/Distrito.</dt>
                                          {{object.province}}
                                      </dl>
                                  </div>
                                  <div class="media-object-section">
                                      <h5>Entrega: {{object.address}}</h5>
                                      <dl>
                                          <dt>Prioridad.</dt>
                                          {% if object.priority = '0' %}
                                              Alta
                                          {% else %}
                                              {% if object.priority = '1' %}
                                                  Media
                                              {% else %}
                                                  Baja
                                              {% endif %}
                                          {% endif %}
                                          <dt>Tipo de Entrega.</dt>
                                          {% if object.type_guide = '0' %}
                                              Oficina
                                          {% else %}
                                              Reparto
                                          {% endif %}
                                          <dt>Estado.</dt>
                                          {% if object.state = '0' %}
                                              S.A
                                          {% else %}
                                            Oficina
                                          {% endif %}
                                          {{object.state}}
                                          <dt>Costo.</dt>
                                          {{object.amount}}
                                          <dt>Fecha de Entrega.</dt>
                                          {{object.date_deliver}}
                                          <dt>Dni Persona a quien se Entrego.</dt>
                                          {{object.person_id}}
                                          <dt>Nombre de Persona a quien se Entrego.</dt>
                                          {{object.person_name}}
                                    </dl>
                                  </div>
                                    <a href="{% url 'recepcion_app:manifest-detail' object.manifest.pk %}">Volver</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}
