{% extends "profiles/admin/admin.html" %}

{% block title %} Modificar Guia de Remision {% endblock title %}

{% block migadepan %}
    <li>Manifiesto</li>
    <li>Guia</li>
{% endblock migadepan %}


{% block main %}
    <div class="row no-pad">
        <div class="large-12 columns">
            <div class="box bg-white">
                <div class="box-body pad-forty" style="display: block;">
                    <div class="row">
                        <div class="large-12">
                            <h3 class="subheader no-margin text-center">Modificar Guia de Remision</h3>
                        </div>
                    </div>

                    <div class="row">
                        <div class="small-12 large-9 columns">
                          <form role="form" method="POST" enctype="multipart/form-data">{% csrf_token %}
                                <div class="row">
                                    <div class="medium-12 columns">
                                        <label>Numero de Guia
                                            {{form.number}}
                                        </label>
                                        {% for error in form.number.errors %}
                                          <div class="col-xs-12">
                                            <p class="help-text error-field">
                                                {{ error|escape }}
                                            </p>
                                          </div>
                                         {% endfor %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="medium-12 columns">
                                        <label>Cantidad de Objetos
                                            {{form.number_objects}}
                                        </label>
                                        {% for error in form.number_objects.errors %}
                                          <div class="col-xs-12">
                                            <p class="help-text error-field">
                                                {{ error|escape }}
                                            </p>
                                          </div>
                                         {% endfor %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="medium-12 columns">
                                        <label>Remitente
                                            {{form.adreessee}}
                                        </label>
                                        {% for error in form.adreessee.errors %}
                                          <div class="col-xs-12">
                                            <p class="help-text error-field">
                                                {{ error|escape }}
                                            </p>
                                          </div>
                                         {% endfor %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="medium-12 columns">
                                        <label>Peso del Paquete
                                            {{form.weigth}}
                                        </label>
                                    </div>
                                    {% for error in form.weigth.errors %}
                                      <div class="col-xs-12">
                                        <p class="help-text error-field">
                                            {{ error|escape }}
                                        </p>
                                      </div>
                                     {% endfor %}
                                </div>
                                <div class="row">
                                    <div class="medium-12 columns">
                                        <label>Descripcion
                                            {{form.content}}
                                        </label>
                                        {% for error in form.content.errors %}
                                          <div class="col-xs-12">
                                            <p class="help-text error-field">
                                                {{ error|escape }}
                                            </p>
                                          </div>
                                         {% endfor %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="medium-12 columns">
                                        <label>Zona de Entrega
                                            {{form.zona}}
                                        </label>
                                        {% for error in form.zona.errors %}
                                          <div class="col-xs-12">
                                            <p class="help-text error-field">
                                                {{ error|escape }}
                                            </p>
                                          </div>
                                         {% endfor %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="medium-12 columns">
                                        <label>Direccion de Entrega
                                            {{form.address}}
                                        </label>
                                        {% for error in form.address.errors %}
                                          <div class="col-xs-12">
                                            <p class="help-text error-field">
                                                {{ error|escape }}
                                            </p>
                                          </div>
                                         {% endfor %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="medium-12 columns">
                                        <label>Provincia y Distrito
                                            {{form.province}}
                                        </label>
                                        {% for error in form.province.errors %}
                                          <div class="col-xs-12">
                                            <p class="help-text error-field">
                                                {{ error|escape }}
                                            </p>
                                          </div>
                                         {% endfor %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="medium-12 columns">
                                        <label>Prioridad
                                            {{form.priority}}
                                        </label>
                                        {% for error in form.priority.errors %}
                                          <div class="col-xs-12">
                                            <p class="help-text error-field">
                                                {{ error|escape }}
                                            </p>
                                          </div>
                                         {% endfor %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="medium-12 columns">
                                        <label>Tipo de Guia
                                            {{form.type_guide}}
                                        </label>
                                        {% for error in form.type_guide.errors %}
                                          <div class="col-xs-12">
                                            <p class="help-text error-field">
                                                {{ error|escape }}
                                            </p>
                                          </div>
                                         {% endfor %}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="medium-12 columns">
                                        <button type="submit" class="small radius bg-verde button">Guardar</button>
                                        <a href="{% url 'recepcion_app:manifest-list' %}" class="small radius bg-blanco border-grey button">Cancelar</a>
                                        <a href="{% url 'recepcion_app:manifest-detail' object.pk %}" class="small radius bg-blanco border-grey button">Lista de Guias</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}
