{% extends "profiles/admin/admin.html" %}

{% load staticfiles %}

{% block title %} Agregar Conductor {% endblock title %}

{% block css %}
    {{ block.super }}
    <link href="{% static 'js/date-dropdown/jquery.datetimepicker.css' %}" rel="stylesheet"/>
{% endblock css %}

{% block migadepan %}
    <li><a href="{% url 'profiles_app:driver-list' %}">Conductor</a></li>
    <li>Agregar</li>
{% endblock migadepan %}


{% block main %}
    <div class="row no-pad">
        <div class="large-12 columns">
            <div class="box bg-white">
                <div class="box-body pad-forty" style="display: block;">
                    <div class="row">
                        <div class="large-12">
                            <h5 class="subheader titulo-content">Registrar Conductor Nuevo</h5>
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="small-12 large-9 columns">
                          <form role="form" method="POST" enctype="multipart/form-data">{% csrf_token %}
                                <div class="row">
                                    <div class="medium-12 columns">
                                        <label>Nombres <small class="text-orange">required</small>
                                            {{ form.first_name }}
                                        </label>
                                        {% for error in form.first_name.errors %}
                                          <div class="col-xs-12">
                                            <p class="help-text error-field">
                                                {{ error|escape }}
                                            </p>
                                          </div>
                                         {% endfor %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="medium-12 columns">
                                        <label>Apellidos <small class="text-orange">required</small>
                                            {{ form.last_name }}
                                        </label>
                                        {% for error in form.last_name.errors %}
                                          <div class="col-xs-12">
                                            <p class="help-text error-field">
                                                {{ error|escape }}
                                            </p>
                                          </div>
                                         {% endfor %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="medium-12 columns">
                                        <label>Dni <small class="text-orange">required</small>
                                            {{ form.dni }}
                                        </label>
                                        {% for error in form.dni.errors %}
                                          <div class="col-xs-12">
                                            <p class="help-text error-field">
                                                {{ error|escape }}
                                            </p>
                                          </div>
                                         {% endfor %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="medium-12 columns">
                                        <label>Email
                                            {{ form.email }}
                                        </label>
                                        {% for error in form.email.errors %}
                                          <div class="col-xs-12">
                                            <p class="help-text error-field">
                                                {{ error|escape }}
                                            </p>
                                          </div>
                                         {% endfor %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="medium-12 columns">
                                        <label>Teléfono
                                            {{ form.phone }}
                                        </label>
                                    </div>
                                    {% for error in form.phone.errors %}
                                      <div class="col-xs-12">
                                        <p class="help-text error-field">
                                            {{ error|escape }}
                                        </p>
                                      </div>
                                     {% endfor %}
                                </div>
                                <div class="row">
                                    <div class="medium-12 columns">
                                        <label>Direccion <small class="text-orange">required</small>
                                            {{ form.address }}
                                        </label>
                                        {% for error in form.address.errors %}
                                          <div class="col-xs-12">
                                            <p class="help-text error-field">
                                                {{ error|escape }}
                                            </p>
                                          </div>
                                         {% endfor %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="medium-12 columns">
                                        <label>Sexo <small class="text-orange">required</small>
                                            {{ form.gender }}
                                        </label>
                                        {% for error in form.gender.errors %}
                                          <div class="col-xs-12">
                                            <p class="help-text error-field">
                                                {{ error|escape }}
                                            </p>
                                          </div>
                                         {% endfor %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="medium-12 columns">
                                        <label>Fecha de Nacimiento <small class="text-orange">required</small>
                                            {{ form.date_birth }}
                                        </label>
                                        {% for error in form.date_birth.errors %}
                                          <div class="col-xs-12">
                                            <p class="help-text error-field">
                                                {{ error|escape }}
                                            </p>
                                          </div>
                                         {% endfor %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="medium-12 columns">
                                        <label>Foto
                                            {{form.avatar}}
                                        </label>
                                        {% for error in form.avatar.errors %}
                                          <div class="col-xs-12">
                                            <p class="help-text error-field">
                                                {{ error|escape }}
                                            </p>
                                          </div>
                                         {% endfor %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="medium-12 columns">
                                        <label>N° Licencia
                                            {{ form.license }}
                                        </label>
                                        {% for error in form.license.errors %}
                                          <div class="col-xs-12">
                                            <p class="help-text error-field">
                                                {{ error|escape }}
                                            </p>
                                          </div>
                                         {% endfor %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="medium-12 columns">
                                        <label>Clase de Licencia
                                            {{ form.class_driver }}
                                        </label>
                                        {% for error in form.class_driver.errors %}
                                          <div class="col-xs-12">
                                            <p class="help-text error-field">
                                                {{ error|escape }}
                                            </p>
                                          </div>
                                         {% endfor %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="medium-12 columns">
                                        <label>Categoria de Licencia
                                            {{ form.category }}
                                        </label>
                                        {% for error in form.category.errors %}
                                          <div class="col-xs-12">
                                            <p class="help-text error-field">
                                                {{ error|escape }}
                                            </p>
                                          </div>
                                         {% endfor %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="medium-12 columns">
                                        <label>Username <small class="text-orange">required</small>
                                            {{ form.user_name }}
                                        </label>
                                        {% for error in form.user_name.errors %}
                                          <div class="col-xs-12">
                                            <p class="help-text error-field">
                                                {{ error|escape }}
                                            </p>
                                          </div>
                                         {% endfor %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="medium-12 columns">
                                        <label>Contraseña <small class="text-orange">required</small>
                                            {{ form.password1 }}
                                        </label>
                                        {% for error in form.password1.errors %}
                                          <div class="col-xs-12">
                                            <p class="help-text error-field">
                                                {{ error|escape }}
                                            </p>
                                          </div>
                                         {% endfor %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="medium-12 columns">
                                        <label> Repetir contraseña <small class="text-orange">required</small>
                                            {{ form.password2 }}
                                        </label>
                                        {% for error in form.password2.errors %}
                                          <div class="col-xs-12">
                                            <p class="help-text error-field">
                                                {{ error|escape }}
                                            </p>
                                          </div>
                                         {% endfor %}
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="medium-12 columns">
                                        <button type="submit" class="small radius bg-verde button">Guardar</button>
                                        <a href="{% url 'profiles_app:driver-list' %}" class="small radius bg-blanco border-grey button">Cancelar</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'js/date-dropdown/jquery.datetimepicker.js' %}"></script>
    <script>
    (function($) {
        "use strict";
        //default date & time picker

        $('.datepicker').datetimepicker({
            timepicker: false,
            lang: 'es',
            closeOnDateSelect: true,
            format: 'd/m/Y'
        });
    })(jQuery);
    </script>
{% endblock js %}
