{% extends "profiles/admin/admin.html" %}

{% load staticfiles %}

{% block title %} conductor {% endblock title %}

{% block migadepan %}
    <li>Conductor</li>
    <li>{{object.full_name}}</li>
{% endblock migadepan %}


{% block main %}
    <div class="row no-pad">
        <div class="large-12 columns">
            <div class="box bg-white">
                <div class="box-body pad-forty" style="display: block;">
                    <div class="row">
                        <div class="large-12">
                            <h5 class="subheader no-margin text-center">Detalle de conductor</h5>
                        </div>
                    </div>

                    <div class="row">
                        <div class="small-12 large-12 columns">

                            <div class="media-object stack-for-small">
                                <div class="media-object-section">
                                    <div class="thumbnail">
                                      {% if not object.avatar %}
                                        <img src="{% static 'img/usuario.png' %}">
                                      {% else %}
                                        <img src="{{ object.avatar.url  }}">
                                      {% endif %}
                                    </div>
                                </div>

                                <div class="media-object-section">
                                    <table id="responsive-example-table" class="table large-only">
                                        <tbody>
                                          <tr>
                                            <td> <b>Nombres:</b></td>
                                            <td>{{object.first_name}}</td>
                                          </tr>
                                          <tr>
                                            <td><b>Apellidos:</b></td>
                                            <td>{{object.last_name}}</td>
                                          </tr>
                                          <tr>
                                            <td><b>Dni:</b></td>
                                            <td>{{object.dni}}</td>
                                          </tr>
                                          <tr>
                                            <td><b>E-mail:</b></td>
                                            <td>{{object.email}}</td>
                                          </tr>
                                          <tr>
                                            <td><b>Telefono/Celular:</b></td>
                                            <td>{{object.last_name}}</td>
                                          </tr>
                                          <tr>
                                            <td><b>Direccion:</b></td>
                                            <td>{{object.address}}</td>
                                          </tr>
                                          <tr>
                                            <td><b>Sexo:</td>
                                            <td>
                                              {% if object.gender = 'M' %}
                                                Masculino
                                              {% else %}
                                                Femenino
                                              {% endif %}
                                          </td>
                                          </tr>
                                          <tr>
                                            <td><b>Fecha de Nacimiento:</b></td>
                                            <td>{{object.date_birth}}</td>
                                          </tr>
                                          <tr>
                                            <td><b>N° Licencia:</b></td>
                                            <td>{{object.license}}</td>
                                          </tr>
                                          <tr>
                                            <td><b>Clase de Conductor:</b></td>
                                            <td>{{object.class_driver}}</td>
                                          </tr>
                                          <tr>
                                            <td><b>Categoria de Conductor:</b></td>
                                            <td>{{object.category}}</td>
                                          </tr>
                                        </tbody>
                                    </table>
                            </div>
                            <a href="{% url 'profiles_app:driver-list' %}" class="small radius bg-blanco border-grey button">Volver</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}
