{% extends "profiles/admin/admin.html" %}

{% block title %} Agregar Empleado {% endblock title %}

{% block migadepan %}
    <li>Empleado </li>
    <li>Agregar</li>
{% endblock migadepan %}


{% block main %}
    <div class="row no-pad">
        <div class="large-12 columns">
            <div class="box bg-white">
                <div class="box-body pad-forty" style="display: block;">
                    <div class="row">
                        <div class="large-12">
                            <h5 class="subheader no-margin text-center">Registrar Empleado Nuevo</h5>
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="small-12 large-9 columns">
                          <form role="form" method="POST" enctype="multipart/form-data">{% csrf_token %}
                                <div class="row">
                                    <div class="medium-12 columns">
                                        <label>Nombres
                                            {{form.first_name}}
                                        </label>
                                        {% for error in form.first_name.errors %}
                                          <div class="col-xs-12">
                                            <p class="help-text error-field">
                                                {{ error|escape }}
                                            </p>
                                          </div>
                                         {% endfor %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="medium-12 columns">
                                        <label>Apellidos
                                            {{form.last_name}}
                                        </label>
                                        {% for error in form.last_name.errors %}
                                          <div class="col-xs-12">
                                            <p class="help-text error-field">
                                                {{ error|escape }}
                                            </p>
                                          </div>
                                         {% endfor %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="medium-12 columns">
                                        <label>Dni/Ruc
                                            {{form.dni}}
                                        </label>
                                        {% for error in form.dni.errors %}
                                          <div class="col-xs-12">
                                            <p class="help-text error-field">
                                                {{ error|escape }}
                                            </p>
                                          </div>
                                         {% endfor %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="medium-12 columns">
                                        <label>Email
                                            {{form.email}}
                                        </label>
                                        {% for error in form.email.errors %}
                                          <div class="col-xs-12">
                                            <p class="help-text error-field">
                                                {{ error|escape }}
                                            </p>
                                          </div>
                                         {% endfor %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="medium-12 columns">
                                        <label>Teléfono
                                            {{form.phone}}
                                        </label>
                                    </div>
                                    {% for error in form.phone.errors %}
                                      <div class="col-xs-12">
                                        <p class="help-text error-field">
                                            {{ error|escape }}
                                        </p>
                                      </div>
                                     {% endfor %}
                                </div>
                                <div class="row">
                                    <div class="medium-12 columns">
                                        <label>Direccion
                                            {{form.address}}
                                        </label>
                                        {% for error in form.address.errors %}
                                          <div class="col-xs-12">
                                            <p class="help-text error-field">
                                                {{ error|escape }}
                                            </p>
                                          </div>
                                         {% endfor %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="medium-12 columns">
                                        <label>Sexo
                                            {{form.gender}}
                                        </label>
                                        {% for error in form.gender.errors %}
                                          <div class="col-xs-12">
                                            <p class="help-text error-field">
                                                {{ error|escape }}
                                            </p>
                                          </div>
                                         {% endfor %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="medium-12 columns">
                                        <label>Fecha de Nacimiento
                                            {{form.date_birth}}
                                        </label>
                                        {% for error in form.date_birth.errors %}
                                          <div class="col-xs-12">
                                            <p class="help-text error-field">
                                                {{ error|escape }}
                                            </p>
                                          </div>
                                         {% endfor %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="medium-12 columns">
                                        <label>Foto
                                            {{form.avatar}}
                                        </label>
                                        {% for error in form.avatar.errors %}
                                          <div class="col-xs-12">
                                            <p class="help-text error-field">
                                                {{ error|escape }}
                                            </p>
                                          </div>
                                         {% endfor %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="medium-12 columns">
                                        <label>Username
                                            {{form.user_name}}
                                        </label>
                                        {% for error in form.user_name.errors %}
                                          <div class="col-xs-12">
                                            <p class="help-text error-field">
                                                {{ error|escape }}
                                            </p>
                                          </div>
                                         {% endfor %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="medium-12 columns">
                                        <label>Contraseña
                                            {{form.password1}}
                                        </label>
                                        {% for error in form.password1.errors %}
                                          <div class="col-xs-12">
                                            <p class="help-text error-field">
                                                {{ error|escape }}
                                            </p>
                                          </div>
                                         {% endfor %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="medium-12 columns">
                                        <label> Repetir contraseña
                                            {{form.password2}}
                                        </label>
                                        {% for error in form.password2.errors %}
                                          <div class="col-xs-12">
                                            <p class="help-text error-field">
                                                {{ error|escape }}
                                            </p>
                                          </div>
                                         {% endfor %}
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="medium-12 columns">
                                        <button type="submit" class="small radius bg-verde button">Guardar</button>
                                        <a href="{% url 'profiles_app:employee-list' %}" class="small radius bg-blanco border-grey button">Cancelar</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}
