{% extends "profiles/admin/admin.html" %}

{% load staticfiles %}

{% block title %} Confirmar Asignacion {% endblock title %}

{% block migadepan %}
    <li>Asignacion</li>
    <li>Confirmar {{ asignation.pk }}</li>
{% endblock migadepan %}


{% block main %}
    <div class="row no-pad">
        <div class="large-12 columns">
            <div class="box bg-white">
                <div class="box-body pad-forty" style="display: block;">
                    <div class="row">
                        <div class="large-12">
                            <h5 class="subheader titulo-content">Confirmar Asignacion</h5>
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="small-12 large-12 columns">
                          <form role="form" action="{% url 'asignacion_app:asignation-confirmar' asignation.id %}" method="POST">{% csrf_token %}
                            <h6 class="subheader">Asignacion N° <strong>{{ asignation.pk }}</strong></h6>
                            <h6 class="subheader">Asignacion Para:  <strong>{{asignation.driver.first_name}} {{asignation.driver.last_name}}</strong></h6>
                            <h4 class="subheader">¿Desea confimar la Asignacion <strong>{{ asignation.pk }}</strong>?</h4>
                            <button type="submit" class="tiny radius bg-blue button">Si</button>
                            <a href="{% url 'asignacion_app:asignation-list' %}" class="tiny radius bg-blanco border-grey button">No</a>
                          </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}
