{% load staticfiles %}

<nav class="white" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="#" class="brand-logo">PACHA</a>

        <ul class="right hide-on-med-and-down">
            <!-- <li><a href="#">Navbar Link</a></li> -->

            <li class="user">
              <a class="dropdown-button" href="#!" data-activates="dropdown1">
                <img class="circle" src="{{IMAGEN}}" alt="">
                Hola, {{ user.username }}
                <i class="fa fa-angle-down right"></i>
              </a>
              <ul id="dropdown1" class="dropdown-content">
                <li><a class="li-user" href="{% url 'cliente_app:cliente-perfil' %}"><i class="fa fa-user li-margin"></i> perfil</a></li>
                <li class="divider"></li>
                <li><a class="li-user" href="{% url 'users_app:user-salir' %}"><i class="fa fa-sign-out li-margin"></i> salir</a></li>
              </ul>
            </li>

        </ul>
        <ul id="nav-mobile" class="side-nav">
            <li>
              <ul id="dropdown2" class="dropdown-content">
                <li><a class="li-user" href="{% url 'cliente_app:cliente-perfil' %}"><i class="fa fa-user li-margin"></i> perfil</a></li>
                <li class="divider"></li>
                <li><a class="li-user" href="{% url 'users_app:user-salir' %}"><i class="fa fa-sign-out li-margin"></i> salir</a></li>
              </ul>
              <a class="dropdown-button" href="#!" data-activates="dropdown2">
                {{ user.username }}
                <i class="fa fa-angle-down right"></i>
              </a>
            </li>
        </ul>

        <a href="#" data-activates="nav-mobile" class="button-collapse">
            <i class="fa fa-bars"></i>
        </a>
    </div>
</nav>
