{% extends "base.html" %}

{% load  staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/foundation.css' %}" />
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static 'css/dashboard.css'%}">
    <link rel="stylesheet" href="{% static 'css/dripicon.css' %}">
    <link rel="stylesheet" href="{% static 'css/typicons.css' %}" />
    <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}" />
    <link rel="stylesheet" href="{% static 'css/theme.css' %}">
{% endblock css %}

{% block paceloader %}
    <script src="{% static 'js/pace/pace.js' %}"></script>
    <link rel="stylesheet" href="{% static 'js/pace/themes/orange/pace-theme-flash.css' %}"/>
    <link rel="stylesheet" href="{% static 'js/slicknav/slicknav.css' %}" />
    <script src="{% static 'js/vendor/modernizr.js' %}"></script>
{% endblock paceloader %}


{% block content %}
    <div class="off-canvas-wrap" data-offcanvas>
        <div class="inner-wrap">

            <!-- Right sidemenu -->
            <div id="skin-select">
                <!--      Toggle sidemenu icon button -->
                <a id="toggle">
                    <span class="fa icon-menu"></span>
                </a>
                <!--      End of Toggle sidemenu icon button -->

                <div class="skin-part">
                    <div id="tree-wrap">
                        <!-- Profile -->
                        <div class="profile">
                            <img alt="" class="" src="{% static 'img/logo.png' %}">
                            <h3>PACHA</h3>
                        </div>
                        <!-- End of Profile -->
                        <!-- Menu sidebar begin-->
                        <div class="side-bar">
                            <ul id="menu-showhide" class="topnav slicknav">

                                {% block rightmenu %}{% endblock rightmenu %}

                            </ul>
                        </div>
                        <!-- end of Menu sidebar  -->
                    </div>
                </div>
            </div>
            <!-- end of Rightsidemenu -->


            <div class="wrap-fluid" id="paper-bg">

                <!-- top nav -->
                <div class="top-bar-nest">
                    <nav class="top-bar" data-topbar role="navigation" data-options="is_hover: false">
                        <ul class="title-area left">
                            <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
                            <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
                        </ul>

                        <section class="top-bar-section ">

                            <!-- Right Nav Section -->
                            <ul class="right">
                                <li class=" has-dropdown bg-white">
                                    <a class="bg-white" href="#">
                                        <img alt="" class="admin-pic img-circle" src="{{IMAGEN}}">
                                        <span class="admin-pic-text text-gray">Hola, {{user.username}}</span>
                                    </a>

                                    <ul class="dropdown dropdown-nest profile-dropdown">
                                        <li>
                                            <i class="icon-user"></i>
                                            <a href="#">
                                                <h4>Perfil<span class="text-aqua fontello-record" ></span></h4>
                                            </a>
                                        </li>
                                        <li>
                                            <i class="icon-upload"></i>
                                            <a href="{% url 'users_app:logout' %}">
                                                <h4>Salir<span class="text-dark-blue fontello-record" ></span></h4>
                                            </a>
                                        </li>
                                    </ul>

                                </li>
                            </ul>
                        </section>
                    </nav>
                </div>
                <!-- end of top nav -->


                <!-- breadcrumbs -->
                <ul class="breadcrumbs">
                    <li><a href="#"><span class="entypo-home"></span></a>
                    </li>

                    {% block migadepan %}{% endblock migadepan %}

                </ul>
                <!-- end of breadcrumbs -->

                {% block main %}{% endblock main %}

                <footer>
                    <div id="footer">Copyright &copy; 2016 <a href="http://www.neunapp.com">neunapp</a> hecho con <i class="fontello-heart-1 text-blue"></i></div>
                </footer>
            </div>

        </div>
    </div>
{% endblock content %}

{% block js %}
<!-- main javascript library -->
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/waypoints.min.js' %}"></script>
    <script src="{% static 'js/preloader-script.js' %}"></script>
    <!-- foundation javascript -->
    <script src="{% static 'js/foundation.min.js' %}"></script>
    <script src="{% static 'js/foundation/foundation.dropdown.js' %}"></script>

    <script src="{% static 'js/slicknav/jquery.slicknav.js' %}"></script>
    <script src="{% static 'js/sliding-menu.js' %}"></script>
    <script src="{% static 'js/scriptbreaker-multiple-accordion-1.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
{% endblock js %}
