{% extends "users/cliente/base_cliente.html" %}

{% load staticfiles %}

{% block title %}Bienvenido a Paccha services{% endblock title %}

{% block content %}

    {% include "include/header.html" %}

    <div class="pg-content">
        <div class="row">
          <div class="col s12">
            <div class="section section-title blue-grey-text text-darken-3">
              <h5>Lista de manifiestos.</h5>
            </div>
            <div class="divider"></div>
          </div>
        </div>

        <div class="row">
            <div class="col s12 m9">
                <ul class="collapsible popout blue-grey-text text-darken-4" data-collapsible="accordion">
                    <li>
                        <div class="collapsible-header">
                            <i class="fa fa-list-alt"></i>
                            Manifiesto #101 <span class="green-text">(8/10)</span> obsevacion(es) <span class="red-text">0</span>
                        </div>
                        <div class="collapsible-body">
                          <ul class="collection">

                            <a href="#" class="blue-grey-text text-darken-3">
                              <li class="collection-item avatar">
                                <i class="fa fa-check circle green lighten-1"></i>
                                <span class="title">Guia #001</span>
                                <p class="pg-padding">
                                  Dirección: Calle Arequipa #201 <br>
                                  Fecha: 26 de obtubre del 2016 a las 05:32 <br>
                                  recepcionado: Jose Luis Perales
                                </p>
                                <a href="#!" class="secondary-content"></a>
                              </li>
                            </a>

                            <a href="#" class="blue-grey-text text-darken-3">
                              <li class="collection-item avatar">
                                <i class="fa fa-truck circle yellow lighten-1"></i>
                                <span class="title">Guia #002</span>
                                <p class="pg-padding">Dirección: Calle los gladiolos #201<br>
                                  Second Line
                                </p>
                                <a href="#!" class="secondary-content"></a>
                              </li>
                            </a>

                            <a href="#" class="blue-grey-text text-darken-3">
                              <li class="collection-item avatar">
                                <i class="fa fa-exclamation-triangle circle red lighten-1"></i>
                                <span class="title">Guia #003</span>
                                <p class="pg-padding">First Line <br>
                                  Second Line
                                </p>
                                <a href="#!" class="secondary-content"></a>
                              </li>
                            </a>
                            <a href="#" class="blue-grey-text text-darken-3">
                              <li class="collection-item avatar">
                                <i class="fa fa-home circle blue lighten-1"></i>
                                <span class="title">Guia #004</span>
                                <p class="pg-padding">First Line <br>
                                   Second Line
                                </p>
                                <a href="#!" class="secondary-content"></a>
                              </li>
                            </a>
                          </ul>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header">
                            <i class="fa fa-list-alt"></i>
                            Manifiesto # 101 (8/10) obsevacion(es) 0
                        </div>
                        <div class="collapsible-body">
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header">
                            <i class="fa fa-list-alt"></i>
                            Manifiesto # 101 (8/10) obsevacion(es) 0
                        </div>
                        <div class="collapsible-body">
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col s12 m3">
            <a href="#" class="card-panel stats-card green lighten-1 green-text text-lighten-5">
              <i class="fa fa-check"></i>
              <span class="count">145</span>
              <div class="name">Entregadas</div>
            </a>
            <a href="#" class="card-panel stats-card yellow lighten-1 yellow-text text-lighten-5">
              <i class="fa fa-truck"></i>
              <span class="count">19</span>
              <div class="name">Repartos</div>
            </a>
            <a href="#" class="card-panel stats-card red lighten-1 red-text text-lighten-5">
              <i class="fa fa-exclamation-triangle"></i>
              <span class="count">4</span>
              <div class="name">Observados</div>
            </a>
            <a href="#" class="card-panel stats-card blue lighten-1 blue-text text-lighten-5">
              <i class="fa fa-home"></i>
              <span class="count">3</span>
              <div class="name">Oficina</div>
            </a>
            </div>
        </div>
    </div>

    {% include "include/footer.html" %}

{% endblock content %}
