{% extends "users/cliente/base_cliente.html" %}

{% load staticfiles %}

{% block title %}Bienvenido a Paccha services{% endblock title %}

{% block content %}

    {% include "include/header.html" %}

    <div class="container pg-content">
        <div class="row">
            <div class="col s12">
                <ul class="collapsible" data-collapsible="accordion">
                    <li>
                        <div class="collapsible-header">
                            <i class="fa fa-"></i>
                        </div>
                        <div class="collapsible-body">
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header">
                            <i class="fa fa-"></i>
                        </div>
                        <div class="collapsible-body">
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header">
                            <i class="fa fa-"></i>
                        </div>
                        <div class="collapsible-body">
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    {% include "include/footer.html" %}

{% endblock content %}
