body {
    background-color: #fafafa;
    font-size: 14px;
}

.pg-content {
    min-height: 802px;
}

.pg-padding {
    padding: 0.3em !important;
}

/* nav */
nav ul a,
nav .brand-logo {
    color: #f5f5f5;
}

.button-collapse {
    color: #f57c00;
}

nav .user img {
    width: 35px;
    margin-right: 10px;
    vertical-align: middle;
}


.pg-footer {
    background-color: #263238;
    height: 70px;
    border-top: 4px solid #f57c00;
    color: #fafafa;
}

.pg-footer .container span {
    display: block;
    line-height: 70px;
    letter-spacing: 1px;
    text-align: right;
}
