<h1>Detalle Manifiesto</h1>
Informacion del Manifiesto: {{object}}
<ul>
<li type="disc">{{object.user}}</li>
<li type="disc">{{object.number}}</li>
<li type="disc">{{object.origin}}</li>
<li type="disc">{{object.destination}}</li>
<li type="disc">{{object.matricula}}</li>
<li type="disc">{{object.cargo}}</li>
<li type="disc">{{object.date}}</li>
<li type="disc">{{object.type_manifest}}</li>
</ul>

<table>
      <thead>
        <tr>
          <th>Numero</th>
          <th>Cantidad</th>
          <th>Peso</th>
          <th>Zona</th>
          <th>adreessee</th>
          <th>Accion</th>
        </tr>
      </thead>
      <tbody>

        {% for guide in  list_guias %}
          <tr>
            <td>{{ guide.number }}</td>
            <td>{{ guide.number_objects }}</td>
            <td>{{ guide.weigth }}</td>
            <td>{{ guide.zona }}</td>
            <td>{{ guide.adreessee }}</td>
            <td>
             <a href="{% url 'recepcion_app:guide-update' guide.pk %}">Modificar</a>
             <a href="{% url 'recepcion_app:guide-detail' guide.pk %}">Detalle</a>
             <a href="{% url 'recepcion_app:guide-delete' guide.pk %}">Eliminar</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
