<form role="form" method="POST" enctype="multipart/form-data">{% csrf_token %}
    {{form.as_p}}

    <table>
          <thead>
            <tr>
              <th>Numero</th>
              <th>Cantidad</th>
              <th>Peso</th>
              <th>Zona</th>
              <th>adreessee</th>
            </tr>
          </thead>
          <tbody>

            {% for guide in  guide_list %}
              <tr>
                <td>{{ guide.number }}</td>
                <td>{{ guide.number_objects }}</td>
                <td>{{ guide.weigth }}</td>
                <td>{{ guide.zona }}</td>
                <td>
                 <a href="#">Modificar</a>
                 <a href="#">Detalle</a>
                 <a href="#">Eliminar</a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
    <button type="submit"> Guardar</button>
</form>
