body {
    background-color: #fafafa;
    font-size: 14px;
    font-family: 'Ubuntu';
}

.pg-content {
    min-height: 802px;
}

.pg-padding {
    padding: 0.3em !important;
}

/* nav */
nav ul a,
nav .brand-logo {
    color: #263238;
}

.button-collapse {
    color: #ffa726;
}

nav .user img {
    width: 35px;
    margin-right: 10px;
    vertical-align: middle;
}

nav .dropdown-content li > .li-user {
    color: #ffa726;
    font-size: 15px;
}

nav .dropdown-content li > .li-user:hover {
    background-color: #ffa726;
    color: #fff3e0;
    font-size: 15px;
}

.li-margin {
  margin-right: 0.5em;
}


.pg-footer {
    background-color: #fff;
    height: 70px;
    border-top: 4px solid #f57c00;
    color: #37474f;
}

.pg-footer .container span {
    display: block;
    line-height: 70px;
    letter-spacing: 1px;
    text-align: right;
}


.section-title {
  margin: 0 2em;
  padding: 0.5em 0 0.7em 0 ;
}

.stats-card {
    display: block;
    position: relative;
    overflow: hidden;
}

.stats-card>i {
    position: absolute;
    font-size: 6rem;
    right: 0;
    bottom: -1rem;
}

.stats-card .count {
    position: relative;
    font-weight: 900;
    font-size: 3rem;
    line-height: 2rem;
}
