{% extends "profiles/admin/admin.html" %}

{% block title %} Agregar Vehiculo {% endblock title %}

{% block migadepan %}
    <li>Vehiculo </li>
    <li>Agregar</li>
{% endblock migadepan %}


{% block main %}
    <div class="row no-pad">
        <div class="large-12 columns">
            <div class="box bg-white">
                <div class="box-body pad-forty" style="display: block;">
                    <div class="row">
                        <div class="large-12">
                            <h3 class="subheader no-margin text-center">Registrar Vehiculo Nuevo</h3>
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="small-12 large-9 columns">
                          <form role="form" method="POST" enctype="multipart/form-data">{% csrf_token %}
                                <div class="row">
                                    <div class="medium-12 columns">
                                        <label>Modelo de Vehiculo <small class="text-orange">Requerido</small>
                                            {{form.model}}
                                        </label>
                                        {% for error in form.model.errors %}
                                          <div class="col-xs-12">
                                            <p class="help-text error-field">
                                                {{ error|escape }}
                                            </p>
                                          </div>
                                         {% endfor %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="medium-12 columns">
                                        <label>Placa <small class="text-orange">Requerido</small>
                                            {{form.plaque}}
                                        </label>
                                        {% for error in form.plaque.errors %}
                                          <div class="col-xs-12">
                                            <p class="help-text error-field">
                                                {{ error|escape }}
                                            </p>
                                          </div>
                                         {% endfor %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="medium-12 columns">
                                        <label>Marca <small class="text-orange">Requerido</small>
                                            {{form.marca}}
                                        </label>
                                        {% for error in form.marca.errors %}
                                          <div class="col-xs-12">
                                            <p class="help-text error-field">
                                                {{ error|escape }}
                                            </p>
                                          </div>
                                         {% endfor %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="medium-12 columns">
                                        <label>Teléfono Asignado
                                            {{form.phone}}
                                        </label>
                                    </div>
                                    {% for error in form.phone.errors %}
                                      <div class="col-xs-12">
                                        <p class="help-text error-field">
                                            {{ error|escape }}
                                        </p>
                                      </div>
                                     {% endfor %}
                                </div>
                                <div class="row">
                                    <div class="medium-12 columns">
                                        <label>Codigo de Configuracion Vehicular <small class="text-orange">Requerido</small>
                                            {{form.code_settings_car}}
                                        </label>
                                        {% for error in form.code_settings_car.errors %}
                                          <div class="col-xs-12">
                                            <p class="help-text error-field">
                                                {{ error|escape }}
                                            </p>
                                          </div>
                                         {% endfor %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="medium-12 columns">
                                        <label>Constancia de Inscripcion <small class="text-orange">Requerido</small>
                                            {{form.constancy_inscription}}
                                        </label>
                                        {% for error in form.constancy_inscription.errors %}
                                          <div class="col-xs-12">
                                            <p class="help-text error-field">
                                                {{ error|escape }}
                                            </p>
                                          </div>
                                         {% endfor %}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="medium-12 columns">
                                        <button type="submit" class="small radius bg-verde button">Guardar</button>
                                        <a href="{% url 'asignacion_app:car-list' %}" class="small radius bg-blanco border-grey button">Cancelar</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}
