{% extends "profiles/base_profiles.html" %}

{% block title %}Dashboard Pacha Service{% endblock title %}

{% block rightmenu %}

    <li>
        <a class="tooltip-tip" href="index.html" title="Dashboard">
            <i class="icon-monitor"></i>
            <span>Dashboard</span>

        </a>
    </li>

    <li>
        <a class="tooltip-tip" href="index.html" title="Empleados">
            <i class="fontello-user-outline"></i>
            <span>Empleados</span>
        </a>
    </li>

    <li>
        <a class="tooltip-tip" href="index.html" title="Conductores">
            <i class="fa fa-road"></i>
            <span>Conductores</span>
        </a>
    </li>

    <li>
        <a class="tooltip-tip" href="index.html" title="Clientes">
            <i class="fa fa-building-o"></i>
            <span>Clientes</span>
        </a>
    </li>

    <li>
        <a class="tooltip-tip" href="index.html" title="Vehiculos">
            <i class="fa fa-bus"></i>
            <span>Vehiculos</span>

        </a>
    </li>

{% endblock rightmenu %}

{% block main %}

{% endblock main %}
