{% extends "profiles/base_profiles.html" %}

{% block title %}Dashboard Pacha Service{% endblock title %}

{% block migadepan %}
    <li>Dashboard
    </li>
{% endblock migadepan %}

{% block rightmenu %}

    <li>
        <a class="tooltip-tip" href="{% url 'profiles_app:employee-list' %}" title="Empleados">
            <i class="fontello-user-outline"></i>
            <span>Empleados</span>
        </a>
    </li>

    <li>
        <a class="tooltip-tip" href="{% url 'profiles_app:driver-list' %}" title="Conductores">
            <i class="fa fa-road"></i>
            <span>Conductores</span>
        </a>
    </li>

    <li>
        <a class="tooltip-tip" href="{% url 'profiles_app:cliente-list' %}" title="Clientes">
            <i class="fa fa-building-o"></i>
            <span>Clientes</span>
        </a>
    </li>

    <li>
        <a class="tooltip-tip" href="{% url 'asignacion_app:car-list' %}" title="Vehiculos">
            <i class="fa fa-bus"></i>
            <span>Vehiculos</span>
        </a>
    </li>

    <li>
        <a class="tooltip-tip" href="{% url 'recepcion_app:zone-list' %}" title="Zonas">
            <i class="fontello-globe-alt-outline"></i>
            <span>Zonas</span>
        </a>
    </li>

    <li>
        <a class="tooltip-tip" href="{% url 'recepcion_app:obs-list' %}" title="Oservaciones">
            <i class="fontello-attention-filled"></i>
            <span>Oservaciones</span>
        </a>
    </li>

    <li>
        <a class="tooltip-tip" href="{% url 'recepcion_app:manifest-list' %}" title="Recepcion">
            <i class="fontello-download-outline"></i>
            <span>Recepcion</span>
        </a>
    </li>

    <li>
        <a class="tooltip-tip" href="{% url 'asignacion_app:asignation-list' %}" title="Asignacion">
            <i class="fontello-basket"></i>
            <span>Asignacion</span>
        </a>
    </li>

    <li>
        <a class="tooltip-tip" href="{% url 'entrega_app:entrega-list_asignation' %}" title="Entrega">
            <i class="fontello-export-outline"></i>
            <span>Entrega</span>
        </a>
    </li>

{% endblock rightmenu %}

{% block main %}

{% endblock main %}
